# Ignore log and csv files
*.ipynb_checkpoints/
*.shp
*.prj
*.dbf
*.shx
*.xlsx
*.tif
*.csv
*.log
*.cpg
*.zip
*.tar
*.sbn
*.sbx
*.DBF
*.PRJ
*.SHX
*.SHP
*.TIF
*.ZIP
__pycache__/
*.txt
yeosu_flow_pop/
yeosu_road/
unzipped_files/
export_json/
predict_model/